* {
    box-sizing: border-box;
    font-size: 16pt;
}

b {
    color: #ff7b7b;
    font-weight: 700;
}

a {
    color: #FF9898;
    text-decoration: none;
}

a:hover{
    color: #FF5F5F;
}

body {
    margin: 0px;
    background-color: black;
    background-image: url("../../img/bodybg.png");
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 200;
    line-height: 1.5;
}

/* BUTTONS */
.buttons {
    text-align: center;
}

button, input[type=submit] {
    margin: 20px 10px 0px 10px;
    font: 600 20pt 'Merriweather Sans', sans-serif;
    border-radius: 8px;
}

.tickets, input[type=submit] {
    background-color: #FF9898;
    padding: 10px 75px 10px 75px;
}

.eventpage {
    background-color: #FF5F5F;
    color: white;
    padding: 10px 40px 10px 40px;
}

.unavail {
    background-color: #382d2d;
    color: white;
    padding: 10px 40px 10px 40px;
}

.tickets:hover, .eventpage:hover, input[type=submit]:hover {
    /* background-color: white; */
    /* color: #FF5F5F; */
    color: black;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,152,152,1) 75%, rgba(255,95,95,1) 95%);
}

/* NAVBAR */

nav {
    background: white url("../../img/navbg.png");
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 5px solid #FF5F5F;
}

nav > ul {
    list-style-type: none;
    float: right;
    margin-top: 45px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}

nav > ul > li {
    display: inline-block;
    letter-spacing: 1px;
}

nav > ul > li > a {
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

nav > ul > li > a:visited {
    color: #FF7B7B;
}

nav > ul > li > a:hover {
    background-color: #FF5F5F;
    color: white;
}

header {
    padding: 15px;
    padding-left: 30px;
}

header > a > img {
    max-width: 700px;
    margin: -10px;
}

/* HOMEPAGE HERO IMAGE */
.homehero > img {
    max-width: 100%;
    height: auto;
}

/* MAIN CONTENT/HOMEPAGE */
h1 {
    margin: 0;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

h1, h2, h3 {
    color: #FF5F5F;
    font-size: 26pt;
    letter-spacing: 3px;
    font-weight: 800;
}

p {
    font-weight: 300;
}

.col {
    width: 55%;
}

.col > img {
    float: left;
    max-width: 500px;
    height: auto;
    margin: 80px 0px 80px 80px;
}

#text {
    float: left;
    margin: 80px 0px 120px 30px;
}

/* WHAT'S INCLUDED LISTS */

.pcol {
    width: 50%;
    float: left;
}

/* ABOUT PAGE */
.abouttext {
    clear: both;
    margin: 900px 300px 100px 300px;
}

.founderimg {
    text-align: center;
    margin: 50px;
}

.founderimg > img {
    max-width: 250px;
    height: auto;
    margin: 20px;
}

/* GALLERY PAGE */
.galleryframe {
    margin: 20px auto 200px auto;
    width: 50%;
    text-align: center;
}

/* CONTACT PAGE */

.container {
    text-align: center;
    margin: 50px auto 50px auto;
    width: 40%;
}

.container > p {
    text-align: left;
}

input {
    padding: 10px;
    border-radius: 8px;
    margin: 10px 5px 30px 0px;
    border: 2px solid #ff9898;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    padding: 5px 0px 0px 10px;
    min-height: 200px;
    border: 2px solid #ff9898;
    border-radius: 8px;
}

/* FOOTER */
footer {
    clear: both;
    color: #FF5F5F;
    background-color: white;
    background-image: url("../../img/navbg.png");
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 15px 0px 90px 0px;
    border-top: 5px solid;
}

footer > p {
    font-weight: 600;
}

footer > a {
    color: #FF5F5F;
    letter-spacing: 20px;
}